{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/tutorial.css' %}"
/>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="stylesheet" href="../CSS/tutorial.css"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Biryani"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="fondo">
      <div class="título">
        <h1 style="text-align: center">Encabezados</h1>
      </div>

      <!-- cada atajo con su funcion -->

      <p class="texto" style="color: rgb(163, 127, 255)">Generar html básico</p>
      <p class="texto" style="color: rgb(163, 127, 255)">
        Autocomplementar código
      </p>
      <h3 class="atajo">ctrl + space</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
          border-radius: 10px;
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Dar formato al código
      </p>
      <h3 class="atajo">alt + shift + f</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Comentar y descomentar código
      </p>
      <h3 class="atajo">ctrl + k y ctrl + c</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">Crear un comentario</p>
      <h3 class="atajo">ctrl + enter</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Duplicar una línea o texto seleccionado
      </p>
      <h3 class="atajo">shift + alt + flecha arriba</h3>
      <h3 class="atajo">shift + alt + flecha abajo</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Mover línea arriba o abajo
      </p>
      <h3 class="atajo">alt + flecha arriba</h3>
      <h3 class="atajo">alt + flecha abajo</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Seleccionar una línea
      </p>
      <h3 class="atajo">ctrl + l</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Selección texto en vertical
      </p>
      <h3 class="atajo">shift + alt + mover ratón arriba o abajo</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">Buscar palabra</p>
      <h3 class="atajo">ctrl + f</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">Guardar archivo</p>
      <h3 class="atajo">ctrl + s</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />

      <p class="texto" style="color: rgb(163, 127, 255)">
        Marcar palabra seleccionada en todo el texto
      </p>
      <h3 class="atajo">ctrl + shift + l</h3>
      <hr
        style="
          height: 5px;
          border-width: 2px;
          color: black;
          background-color: rgb(145, 3, 3);
        "
      />
      <br />
    </div>
    <!-- Volver al indice -->
    <div class="volver">
      <a href="javascript:history.back()">Volver</a>
    </div>
  </body>
</html>
