{% load static %}
<link rel="stylesheet" href="{% static 'styles/blog.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} Blog inicio {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script src='{% static "js/main.js" %}'></script> -->
    <style>
      #cookie-banner{
        position:fixed; bottom:0; left:0; right:0;           
        background: #777; color: #222; padding:1rem;
        text-align: center;
        }
    #cookie-banner button{
    margin:0 .5rem;
    }
    </style>
  
  </head>
  <body>
    <div class="usuario_registrado">
      Bienvenido, {{ request.user.username }}
    </div>
    <nav class="navbar">
      <a href='{% url "post_list" %}' class="navbar_a">Bienvenido al blog</a>
    </nav>
    <div class="imagen_portada">
      <img src="{% static 'img/monte_fuji.png' %}" alt="Monte Fuji" />
    </div>
    <div class="container">
      {% block content %}
        <div class="acceder_container">
          <a href='{% url "post_list" %}' class="boton_acceso">Acceder al blog</a>
        </div>
      {% endblock %}
    </div>
      <div id="cookie-banner">
        Usamos cookies analíticas para mejorar la experiencia de usuario.
        <button id="btn-accept">Aceptar cookies</button>
        <button id="btn-reject">Rechazar</button>
        <a href="{% url 'politica_cookies' %}">Léete nuestra normativa</a>
      </div>

      <script src = "{% static 'js/cookie-consent.js' %}"></script>
    
  </body>
</html>

