<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formulario de entrada</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Biryani' rel='stylesheet'>
    <link rel="stylesheet" href="../CSS/tutorial.css">

</head>

<body>
    <div class="fondo">
        <div class="título">
            <h1>TUTORIAL</h1>
        </div>
        <h1>Identificación</h1>
        <div id="formulario">
            <form action="indice 1.html" target="_parent" method="post" autocomplete="off">
                <label for="Usuario">Usuario......</label>
                <input type="text" id="Usuario" name="nombre de usuario" placeholder="Introduce Usuario" autofocus
                    size="40" required minlength="4">
                <br><br>
                <label for="Contraseña">Contraseña......</label>
                <input type="text" id="Contraseña" name="contraseña de usuario" placeholder="Introduce Contraseña"
                    required autocomplete="off" maxlength="8" minlength="8" pattern="[A-Z0-9]{6,2}"
                    tittle="Debe contener 6 letras y 2 números">
                <br><br>
                <!-- Este es un falso botón, en realidad es un enlace a la página de índice -->
                <!-- <input type="submit" class="botonVerde"> -->
                <a href="indice 1.html" class="botonVerde">Entrar</a><br><br>


            </form>
        </div>
    </div>
</body>

</html>